In [24]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings("ignore")

In [25]:
df = pd.read_csv('storedata.csv')
df.head()

     month   sales  sales_log  sales_diff  sales_diff2    growth  log_growth
0  2013-01  454904  18.795203         NaN          NaN       NaN         NaN
1  2013-02  459417  18.809445      4513.0          NaN  0.009921    0.000758
2  2013-03  617382  19.235804    157965.0     153452.0  0.343838    0.022667
3  2013-04  682274  19.379992     64892.0     -93073.0  0.105108    0.007496
4  2013-05  763242  19.541781     80968.0      16076.0  0.118674    0.008348

In [35]:
df = pd.read_csv('model_res.csv')
df.head()

  variable  p  d  q          AIC          BIC
0    sales  1  1  1  1484.280478  1490.409631
1    sales  1  1  2  1457.018369  1465.190574
2    sales  1  2  1  1468.147472  1474.223527
3    sales  1  2  2  1457.202940  1465.304347
4    sales  1  3  1  1455.759454  1461.781453

In [37]:
aic = df[df['AIC']==min(df['AIC'])]

In [48]:
aic.variable

31    sales_log
Name: variable, dtype: object

In [31]:
def MyARIMA(df=None, col=None, p=None, d=None, q=None):
    """ Generate ADF Test Result

    Args:
        df: input dataframe

    Returns:
        dataframe
    """
    temp = df.dropna()
    model = ARIMA(getattr(temp, col), order=(p, d, q))
    res = model.fit()
    return pd.DataFrame({'variable': col, 'p': p, 'd': d, 'q': q, 'AIC': res.aic, 'BIC': res.bic}, index=[0])

In [34]:
cols, ps, ds, qs = ['sales', 'sales_log', 'sales_diff2'], [1, 2, 3], [1, 2, 3], [1, 2]
for col in cols:
    for p in ps:
        for d in ds:
            for q in qs:
                print(f"{col}, {p}, {d}, {q}")
                res=MyARIMA(df=df, col=col, p=p, d=d, q=q)

sales, 1, 1, 1
sales, 1, 1, 2
sales, 1, 2, 1
sales, 1, 2, 2
sales, 1, 3, 1
sales, 1, 3, 2
sales, 2, 1, 1
sales, 2, 1, 2
sales, 2, 2, 1
sales, 2, 2, 2
sales, 2, 3, 1
sales, 2, 3, 2
sales, 3, 1, 1
sales, 3, 1, 2
sales, 3, 2, 1
sales, 3, 2, 2
sales, 3, 3, 1
sales, 3, 3, 2
sales_log, 1, 1, 1
sales_log, 1, 1, 2
sales_log, 1, 2, 1
sales_log, 1, 2, 2
sales_log, 1, 3, 1
sales_log, 1, 3, 2
sales_log, 2, 1, 1
sales_log, 2, 1, 2
sales_log, 2, 2, 1
sales_log, 2, 2, 2
sales_log, 2, 3, 1
sales_log, 2, 3, 2
sales_log, 3, 1, 1
sales_log, 3, 1, 2
sales_log, 3, 2, 1
sales_log, 3, 2, 2
sales_log, 3, 3, 1
sales_log, 3, 3, 2
sales_diff2, 1, 1, 1
sales_diff2, 1, 1, 2
sales_diff2, 1, 2, 1
sales_diff2, 1, 2, 2
sales_diff2, 1, 3, 1
sales_diff2, 1, 3, 2
sales_diff2, 2, 1, 1
sales_diff2, 2, 1, 2
sales_diff2, 2, 2, 1
sales_diff2, 2, 2, 2
sales_diff2, 2, 3, 1
sales_diff2, 2, 3, 2
sales_diff2, 3, 1, 1
sales_diff2, 3, 1, 2
sales_diff2, 3, 2, 1
sales_diff2, 3, 2, 2
sales_diff2, 3, 3, 1
sales_diff2, 3, 3, 2

In [29]:
res = MyARIMA(df=df,col='sales',p=1,d=1,q=1)

In [30]:
res

  variable  p  d  q         AIC          BIC
0    sales  1  1  1  1536.41115  1542.643762

In [22]:
ARMAResults.summary(res)

AttributeError: type object 'ARMAResults' has no attribute 'summary'

In [11]:
res_summary = res.summary()

In [18]:
print(res_summary)

                               SARIMAX Results
==============================================================================
Dep. Variable:                  sales   No. Observations:                   60
Model:                 ARIMA(1, 1, 2)   Log Likelihood                -750.023
Date:                Tue, 15 Aug 2023   AIC                           1508.046
Time:                        19:51:38   BIC                           1516.356
Sample:                             0   HQIC                          1511.290
                                 - 60
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.9998      0.001  -1039.436      0.000      -1.002      -0.998
ma.L1          1.9418      0.274      7.098      0.000       1.406       2.478
ma.L2          0.9490      0.271      3.500      0.000       0.418       1.480
sigma2      7.661e+09   1.18e-11   6.51e+20      0.000    7.66e+09    7.66e+09
===================================================================================
Ljung-Box (L1) (Q):                   0.13   Jarque-Bera (JB):                 1.55
Prob(Q):                              0.72   Prob(JB):                         0.46
Heteroskedasticity (H):               0.87   Skew:                            -0.07
Prob(H) (two-sided):                  0.77   Kurtosis:                         2.22
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 5.43e+36. Standard errors may be unstable.